<div class="jumbotron mt-0 pt-3 pb-2">
  <h1>About the Flight Booker</h1>
  <div class="col-md-9">
    <p><strong>Any flight and/or airport information that can be found
    in this webpage is not real and for demonstration purposes! </strong></p>
    <p>This app is developed by <b>jamcry</b> <small><em>(see the footer)</em></small>
      with Ruby on Rails as a part of the Odin Project's curriculum.
      It is a open source project and the source code can be found in
      <a href="https://github.com/jamcry/flight-booker" target="_blank">this repository.</a></p>
  </div>
</div>